.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
  
    .spacer {
      flex: 1 1 auto;
    }
  
    a {
      color: red;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  